@model Pedrinho.Models.Usuario

@{
    ViewData["Title"] = "Home Page";
}


<body style="background-color:black;">
</body>
<div class="login">
    <form asp-controller="Home" asp-action="Index">
        <label>USUÁRIO<input type="text" asp-for="nome" placeholder="USUÁRIO" required class="form-control"></label><br><br>
        <label>SENHA<input type="password" asp-for="senha" placeholder="SENHA" required CLASS="form-control"></label><br><br />
        <input value="ENTRAR" type="submit" class="btn btn-success" /><br>

    </form>


</div>


@if (TempData["$$"] != null)
{
    <div class="alerta">TempData["$AlertMessage$"]</div>
}


