@model Pedrinho.Models.Bug

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/mod.cshtml";
}
<body style="background-color:#222;">
</body>
<center>
    <h2 class="titulos">Detalhes</h2>
</center>

<div>

    <hr />
    <dl class="dl-horizontal campoTxt">
        <dt>
            <label>Id do Enigma</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enigmaId)
        </dd>
        <dt>
            <label>Id do Usuário</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuarioId)
        </dd>
        <dt>
            <label>Descrição</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt>
            <label>Resposta</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.resposta)
        </dd>
    </dl>
</div>

<center>
    <div>

        <a asp-area="" asp-controller="Bug" asp-action="ListaUser" class="btnVoltar">
            <input type="button" value="Voltar" class="btnVoltar" />
        </a>
    </div>
</center>

