@model Pedrinho.Models.Bug

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/mod.cshtml";
}
<body style="background-color:#222;">
</body>
<center>

    <h2 class="titulos">Editar</h2>

    <hr />
  
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bugId" />
        <div>
            <label class="campoTxt">Id do Enigma</label>
            <input asp-for="enigmaId" readonly="true" class="campoForm" />
            <span asp-validation-for="enigmaId" class="text-danger"></span>
        </div>
        <div>
            <label class="campoTxt">Id do usuário</label>
            <input asp-for="usuarioId" readonly="true" class="campoForm" />
            <span asp-validation-for="usuarioId" class="text-danger"></span>
        </div>
        <div>
            <label class="campoTxt">Descrição</label>
            <input asp-for="descricao" readonly="true" class="campoForm" />
            <span asp-validation-for="descricao" class="text-danger"></span>
        </div>
        <div>
            <label class="campoTxt">Resposta</label>
            <input asp-for="resposta" class="campoForm" maxlength="200" />
            <span asp-validation-for="resposta" class="text-danger"></span>
        </div><br /><br />




        <div class="form-group">
            <a asp-action="Index" class="btnVoltar">
                <input type="button" value="Voltar" class="btnVoltar" />
            </a>
            <input type="submit" value="Salvar" class="btnSalvar" />


        </div>
    </form>
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
