@model Pedrinho.Models.Contato

@{
    ViewData["Title"] = "Create";

}
<body style="background-color: black;"></body>

<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
<script type="text/javascript">
    function mudar() {
        $("#traduz").text("Parabéns, estamos muito felizes por você estar aqui. nos envie seus comentários ! ! ! :=)");     
        $("#traduz").css("color", "green");     
    }
</script>

<center>
    <h1 id="traduz" style="color:white">Congratulations, we're very happy you got here. Send us your comments ! ! ! :=)</h1>
    <button onclick="mudar()" class="btnSalvar">Traduzir para pt-BR</button>



    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="nome" class="campoTxt"></label>
            <input asp-for="nome" class="campoForm" />
            <span asp-validation-for="nome" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="sobrenome" class="campoTxt"></label>
            <input asp-for="sobrenome" class="campoForm" />
            <span asp-validation-for="sobrenome" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="email" class="campoTxt"></label>
            <input asp-for="email" class="campoForm" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="telefone" class="campoTxt"></label>
            <input asp-for="telefone" class="campoForm" />
            <span asp-validation-for="telefone" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="mensagem" class="campoTxt"></label>
            <input asp-for="mensagem" class="campoForm" />
            <span asp-validation-for="mensagem" class="text-danger"></span>
        </div><br />
              <div class="form-group">
                 


                  <div>
                      <br />

                      <a href="~/Enigma/Enigma" class="btnVoltar">
                          <input type="button" value="Voltar" class="btnVoltar" />
                      </a>
                      <input type="submit" value="Enviar" class="btnSalvar"  />
                  </div>

              </div>

    </form>

</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(document).ready(function () {

        alert('Parabens você concluiu nossos enigmas, nos deixe uma mensagem !')
    });
</script>