@model IEnumerable<Pedrinho.Models.Enigma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/user.cshtml";
}


<h2 class="titulo">O meu surgimento</h2>
<center><div class="barra"></div></center>
<img src="~/images/teste.PNG.png" class="imagemIndex" />

<br /><br /><br /><br />
<p>
    Meu surgimento foi na FAPI (Faculdade de Pinhais) com a turma de Tecnólogo em Análise e Desenvolvimento de Sistemas.
    Como eu surgi? Bom vamos lá. Na matéria de Fundamentos da Computação a professora Vanely Souza Afanaci dividiu a sala em dois grupos para a elaboração de um trabalho, cada equipe tinha que desenvolver um enigma para a outra equipe resolver, nossa equipe era composta pelos integrantes: Alexandre, Davi, Diego, Robson, Tiago e a professora Vanely, sendo assim começamos a bolar uma ideia. Muitas discussões foram postas a mesa. O que fazer? "Vocês sabem que eles vão fazer algo complicado" A ideia foi debatida muitas e muitas vezes até que surgiu um nome "PEDRINHO". E com o passar dos dias, boatos foram rolando, fotos também, onde o time adversário fechava a sala e colocava todas as carteiras na porta para ninguém entrar e ver o que estava sendo desenvolvido. Nossa equipe se juntou firme e forte e começamos a bolar um enigma. Diego e Robson passaram algumas horas da madrugada desenvolvendo os enigma, quando viram que já era 04:00 da madrugada e o enigma estava muito macabro. Foi repassado para todos os integrantes do grupo e aperfeiçoado mais ainda, até que chegou meu dia, a hora da equipe adversária desvendar meu enigma. Deu muito o que falar, e meus enigmas desenvolvidos para o grupo adversário não foram resolvidos até hoje.
    Eu pensei que tinha me aposentado dos enigmas, mas eis que surgiu um professor novo, seu nome... Rodrigo Müller. Com um trabalho para a turma da FAPI. Foi passado um trabalho em grupo. O trabalho era a criação de um Website.
</p>