@model IEnumerable<Pedrinho.Models.Enigma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/user.cshtml";
}




<body class="imgInigma">

</body>


<br /><br /><br />
<div class="tituloEnigmas">
    Primeiro Enigma

</div>
<br /><br /><br />

<div class="txtEnigmas">
    <p>
        Um vigia noturno vivia dormindo durante seu trabalho. Um dia, o chefe avisou que se isso acontecesse novamente, ele seria demitido. Na noite seguinte o chefe o pegou no flagra, com a cabeça apoiada sobre as mãos e os cotovelos sobre os joelhos. "Te peguei!", declarou o chefe. O vigia noturno acordou assustado e respondeu ao chefe utilizando apenas uma palavra. O chefe, então, se desculpou e foi embora.
        <br /><br></br>
        Qual palavra o vigia falou?
    </p>
</div>

