@model IEnumerable<Pedrinho.Models.Enigma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/user.cshtml";
}




<body class="imgInigma">

</body>


<br /><br /><br />
<div class="tituloEnigmas">
    Primeiro Enigma

</div>
<br /><br /><br />

<div class="txtEnigmas">
    Pedrinho estava colecionando figurinhas, em seu primeiro pacote ele encontrou uma grande surpresa! Ele estava esperando 10 figurinhas mas ganhou 11 figurinhas. As figurinhas repetidas ele distribuiu entre seus amigos João ganhou 3, Pedro não ganhou, Maria ganha 7, Joaquim ganhou 9 e Manoel também não ganhou nada. Todos os amiguinhos estudam na mesma sala o 2-C. O total de alunos na sala que tem o álbum de figurinhas é 35. Eles disputam um campeonato com a melhor turma de “Bafo” o 1-C.


</div>

<form>
    <input type="text" placeholder="TESTE" name="buscaString" />
    <input type="submit" value="Pesquisar" onclick="Enigma/Index/" />
</form>